<head>
  <title>Learning AngularJS is a lazy manner</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="./main.js"></script>
</head>
<body ng-app="myApp">
  <div ng-controller='mainCtrl'>
    <h5>
      {{ Title }}
    </h5>
    <button ng-click="alert()"> Alert Btn </button>
    <h5> Function returned value : {{ title() }}</h5>
    <input type="text" value="{{Title}}" />

    <input ng-model="inputModel" type="text" />
    {{ inputModel }}
    <hr />

    <ul>
      <li ng-repeat="actor in actors" ng-click="onListItemClick(name)">
        {{ $index }} ) {{ actor }} ( btw sth from my parent : {{ Title }} )
      </li>
    </ul>

    <hr />

    <title-editor title="Title"></title-editor>
  </div>

</body>
