<head>
  <title>Learning AngularJS is a lazy manner</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
  <script type="text/javascript" src="./main.js"></script>
</head>

<body ng-app="myApp">
  <div ng-controller='mainCtrl'>
    <div class="container">
      <div class="jumbotron">
        <h1 align="center"> {{ Title }} </h1>
      </div>
      <hr />
      <h3> Looping and filters </h3>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="(name, detail) in actors">
          {{ name }} [{{detail.lastName}}] is {{ detail.age }} years old! I like catching a beer in
          <input type="text" ng-model="beerFilter" />
          <span ng-repeat="bar in detail.bars | filter : beerFilter">
             {{ bar | strRev }} {{ ($index === ($parent.detail.bars.length-1)) ? '' : 'or' }}
           </span>
        </li>
      </ul>
      <hr />
      <h3> Style Manipulation </h3>
      <div class="row">
        <div class="col col-sm-6 col-sm-offset-3">
          <button ng-class="{'btn-warning' : iconDisplay, 'btn-info': !iconDisplay}" ng-click="doProcess()" ng-if="btnDisplay" class="btn btn-block">
            <span ng-show="iconDisplay" class="glyphicon glyphicon-cloud-download"></span> {{ iconDisplay ? 'waiting for process' : 'Click me for some process'}}
          </button>
        </div>
      </div>

      <h4> Dynamic Button </h4>

      <div class="row">
        <div class="col col-sm-3 col-sm-offset-3">
          <button ng-class="classes" class="dynamicBtn btn btn-block">
            Change Me
          </button>
        </div>
        <div class="col col-sm-3">
          <p>
            <input type="checkbox" ng-model="cool" /> Info
          </p>
          <p>
            <input type="checkbox" ng-model="red" /> Danger
          </p>
          <p>
            <input type="checkbox" ng-model="melow" /> Warning
          </p>
        </div>
      </div>
      <style>
        button.dynamicBtn {
          transition: all .3s ease;
        }
      </style>
    </div>



  </div>
</body>
